body
  padding: 0
  margin: 0

input::-webkit-outer-spin-button
    -webkit-appearance: none
    margin: 0

input::-webkit-inner-spin-button
  -webkit-appearance: none
  margin: 0

//Main Component
.Main
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center

//Title for main page
.Title
  font-size: 4em
  font-style: italic
  margin-top: 2.5vw

//Form styling
.InputForm
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  width: 60vw
  margin-top: 5vw

.main-select
  width: 25vw
  font-size: 1em
  border-radius: 5px
  outline: none
  margin-top: 5vh

option
  text-align: center

.main-input
  margin-top: 10vw
  width: 50vw
  height: 4.5vw
  border-radius: 50vw
  padding-left: 2.5vw
  @media screen and (min-width: 800px)
    margin-top: 5vh
    width: 25vw
    height: 3vh
    padding-left: 1vw
    outline: none

.main-submit
  position: fixed
  bottom: 0
  left: 0
  width: 100vw
  height: 20vw
  max-height: 25vh
  font-size: 4em
  background-color: rgb(66, 134, 244)
  border: none
  cursor: pointer
  @media screen and (min-width: 800px)
    position: inherit
    width: auto
    height: auto
    padding: 1.5%
    font-size: 1.5em
    margin-top: 5vh
    margin-bottom: 10vh
    border-radius: 10px
    outline: none

//Sent route styling
.Sent
  display: flex
  flex-direction: column
  align-items: center
  justify-content: center
  width: 100%
  height: 75vh

.button-sent
  padding: 1.5%
  font-size: 1.8em
  font-style: italic
  border-radius: 5px
  background-color: rgb(79, 214, 110)
  color: white
