body {
  padding: 0;
  margin: 0;
  background-image: url("./images/background.jpg");
  background-size: cover;
  background-position: center; }

input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0; }

input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

.Main {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.Title {
  font-size: 4em;
  font-style: italic;
  margin-top: 1.5vw;
  opacity: 0.9; }

.container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative; }

.InputForm {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 60vw;
  margin-bottom: 5vw; }

.main-select {
  width: 25vw;
  height: 2.5vw;
  font-size: 1em;
  border-radius: 5px;
  outline: none;
  margin-bottom: 5vh;
  background-color: #ffdd82;
  border: none;
  text-indent: 5px; }

.first-select {
  margin-top: 10vh; }

option {
  text-align: center;
  background-color: white; }

.main-input {
  margin-top: 5vh;
  width: 50vw;
  height: 4.5vw;
  border-radius: 50vw;
  padding-left: 2.5vw;
  background-color: #ffdd82;
  border: none;
  text-align: center; }
  @media screen and (min-width: 800px) {
    .main-input {
      margin-bottom: 5vh;
      width: 25vw;
      height: 3vh;
      padding-left: 1vw;
      outline: none;
      font-size: 1em; } }

.main-submit {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  height: 20vw;
  max-height: 25vh;
  font-size: 4em;
  background-color: #72a1ff;
  border: none;
  cursor: pointer; }
  @media screen and (min-width: 800px) {
    .main-submit {
      position: inherit;
      width: auto;
      height: auto;
      padding: 1.5%;
      font-size: 1.5em;
      border-radius: 10px;
      outline: none; } }

.alert-text {
  font-weight: bold;
  color: red;
  font-size: 1.25em;
  opacity: 0.9;
  position: absolute;
  top: 0; }

.Sent {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 100%;
  height: 75vh; }

.button-sent {
  padding: 1.5%;
  font-size: 1.8em;
  font-style: italic;
  border-radius: 5px;
  background-color: #4fd66e;
  color: white; }
